<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SafeKeep</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/maker">
        <img src="/assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        SafeKeep
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/maker">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notes">Secret Notes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/changepass">Change pass</a>
          </li>
        </ul>
      </div>
    </nav>

    <div style="padding: 10px;">
    <h1 >ABOUT SAFEKEEP</h1>
    <p>SafeKeep is a personalized account manager that organizes all of your accounts, passwords, and notes.
    </p>
    <br>
    <img style="width: 20%" src="/assets/img/logo.svg">
    <h2>How it works?</h2>
    <p>To create an entry, log in or create an account. Once at the main screen you can see any
      previously made entries. At the top of the screen you can add credentials to create a new entry
      which will then show up on your homepage. You can toggle the password on and off for privacy

    </p>
    <img style="width: 50%" src="/assets/img/cred.png">
     <p>You can also keep secret notes that contains sensitive information. The notes are displayed as cards and can be clicked to flip around
       and show the content of the note.
      
    </p>
    <img style="width: 50%" src="/assets/img/note.png">
    <img style="width: 50%" src="/assets/img/note2.png">
    
    <h2>Creator</h2>
    <p>This SafeKeep was created by Kegan Sovay for Rich Media 2</p>
    <br>
    <a href="/maker">HOME</a>
  </div>


  
  <script src="/assets/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>