<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SafeKeep</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/maker">
        <img src="/assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        SafeKeep
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/maker">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="noteButton" href="/maker" >Secret Notes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/about">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/changepass">Change pass</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/upgrade">Go Pro <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="p-5 text-center">
      <h1>UPGRADE</h1>
    </div>

<div class="p-5">
    <div class="card-deck pad">


      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">FREE</h2>
          <h1>$0</h1>
          <br>
          <p class="card-text">Manage up to 50 passwords and autofill all your personal information on your favorite device, free for life.</p>
          <br>
          <button type="button" class="btn btn-outline-success btn-lg btn-block">Get Free</button>
          <br>
          <hr>
          <div class="text-justify text-20">
            <br>
              <i class="fa fa-check green" aria-hidden="true"></i> Store up to <b>50 passwords</b><br>
              <i class="fa fa-check green" aria-hidden="true"></i> Store up to <b>50 notes</b><br>
              <i class="fa fa-check green" aria-hidden="true"></i> Run on <b>one device</b><br>
              <i class="fa fa-check green" aria-hidden="true"></i> Form autofill<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Security alerts
              <br>

          </div>
          <br>
          <hr>
          <br>
          
        </div>
        <div class="card-footer text-center">
          <a class="upgrade-link" href="#">Learn More ></a>
        </div>
      </div>


      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">PRO</h2>
          <h1>$4.99/mo</h1>
          <br>
          <p class="card-text">Manage unlimited passwords and notes on up to 5 devices, plus secure VPN and file storage.</p>
          <br>
          <button type="button" class="btn btn-success btn-lg btn-block">Get PRO</button>
          <br>
          <hr>
          <div class="text-justify text-20">
            <br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>Unlimited</b> password storage<br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>Unlimited</b> notes storage<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Sync up to<b>5 devices</b><br>
              <i class="fa fa-check green" aria-hidden="true"></i> Form autofill<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Security alerts<br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>VPN</b> for safe and private browsing<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Secure storage for sensitive files and notes<br>
              <br>

          </div>
          <br>
          <hr>
          <br>
          
        </div>
        <div class="card-footer text-center">
          <a class="upgrade-link" href="#">Learn More ></a>
        </div>
      </div>



      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">PRO+</h2>
          <h1>$9.99/mo</h1>
          <br>
          <p class="card-text">Unlimted devices along with credit and Dark Web monitoring.</p>
          <br>
          <button type="button" class="btn btn-success btn-lg btn-block">Get PRO+</button>
          <br>
          <hr>
          <div class="text-justify text-20">
            <br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>Unlimited</b> password storage<br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>Unlimited</b> notes storage<br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>Unlimited</b> synced devices<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Form autofill<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Security alerts<br>
              <i class="fa fa-check green" aria-hidden="true"></i> <b>VPN</b> for safe and private browsing<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Secure storage for sensitive files and notes<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Real-time credit monitoring<br>
              <i class="fa fa-check green" aria-hidden="true"></i> Dark Web monitoring and alerts<br>
              <br>

          </div>
          <br>
          <hr>
          <br>
          
        </div>
        <div class="card-footer text-center">
          <a class="upgrade-link" href="#">Learn More ></a>
        </div>
      </div>

      
      



    </div>
</div>
  


  
  <script src="/assets/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>